<div class="modal fade" id="editCustomerModal" role="dialog" tabindex="-1" aria-labelledby="editCustomerModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCustomerModalLabel">Edit Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form data-bind="with: selectedCustomer">
                    <div class="form-group">
                        <label for="editCustomerName">Name</label>
                        <input data-bind="value:name @*valueUpdate:'keyup'*@" class="form-control" id="editCustomerName">
                    </div>
                    <div class="form-group">
                        <label for="editCustomerAddress">Address</label>
                        <input data-bind="value:address@*, valueUpdate:'keyup'*@" class="form-control" id="editCustomerAddress">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-bind="click: getCustomers" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button data-bind="click:editCustomer" class="btn btn-success">Save Changes</button>
            </div>
        </div>
    </div>

</div>
